<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/CSS/style.css" rel="stylesheet" type="text/css"/>
    
</head>
<body>
    <div>
        <header class ="header">
            <h2>Home</h2>
            <h2>About</h2>
            <h2>Contact</h2>

        </header>
    </div>
    <br/>
    <br/>
    <br/>
    <div>
       <h1>Amadi</h1>
    </div>
<br/>
<br/>
<br/>
<br/>
    
    
    <%- include('./footer.ejs') %>
</body>

</html>